doctype html
html
    head
        meta(charset='utf-8')
        title JAVASCRIPT GAME EXAMPLE
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='/stylesheets/app.css')
    body
        #game-over-overlay0.game-over-overlay
        #game-over0.game-over
            h1 GAME OVER
            button#play-again0 Play Again
        #wrapper0.rawstart(style='background-color: black;')
            #instructions0.instructions
                ul
                    li
                        | move with
                        span.key arrows
                        |  or
                        span.key wasd
                    li
                        | shoot with
                        span.key space
                    li loose 20 life pts (progress bar) each time an ennemy reach left side
                    li win 1 life pt (progress bar) each time an ennemy is killed
            #score0.score
            br
            br
            br
            br
            br
            br
            .myProgress
                #lifebar0.myBar
            br
            br
            canvas#canvas0(style='background-color: black;')
        script(type='module', src='/dist/bundleraw.js')
